<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<h2>Register as a Volunteer: </h2> <br><br>
<div class="wrapper fadeInDown">
    <div id="formContent">
    <form  method="post" enctype=
            "multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"> {{ form.name.label_tag}}</th>
            <th scope="col"> {{ form.name}}</th>
        </tr>

        <tr>
            <th scope="col"> {{ form.location.label_tag}}</th>
            <th scope="col"> {{ form.location}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.owner.label_tag}}</th>
            <th scope="col"> {{ form.owner}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.store_img.label_tag}}</th>
            <th scope="col"> {{ form.store_img}}</th>
        </tr>

        </thead>

    </table>


<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>


{% endblock %}

</body>
</html>