{% extends 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
<header class="py-5 bg-dark text-white border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Available Orders</h1>
                    <p class="lead mb-0">You can choose to Volunteer from the following orders!</p>
                    <br><br>
                </div>
            </div>
</header>

{% for o in orders %}

            {% if volunteer.store == o.product.store %}
                    <div class="flex-row">
                        <div class="col-lg-4 text-center">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{{ o.product.image.url }}" alt="..."></a>
                                <div class="card-body">
                                    <div class="small text-muted">{{ o.date }}</div>
                                    <h2 class="card-title h4">{{ o.product.name }}</h2>
                                    <p class="card-text">Category: {{ o.product.category }}</p>
                                    <p class="card-text">Description: {{ o.product.description }}</p>
                                    <p class="card-text">Quantity Available: {{ o.product.quantity }}</p>
                                    <p class="card-text">Store: {{ o.product.store }}</p>
                                    <a class="btn btn-primary" href="#!">Volunteer for this order →</a>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endif %}
    {% endfor %}
{% endblock %}
</body>
</html>