a.doner{
    font-size: 22px;
    color: blueviolet;
}

.introbox{
    align-content: center;
    text-align: center;
    border: 1px darkgray;
    color: darkcyan;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding : 1.5rem;
    font-size: 50px;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.buttonbox{
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;


}
