{% extends 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>

{% block content %}

<h1>Welcome to Meals Matter <br><br></h1><h2>A Food Donation &<br>Redistribution Network</h2>

<div class="mt-5 mb-5">
<h2>What do you want to become? </h2>
</div>

   <div class="row">
  <div class="col-sm-3 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Donor</strong></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Become a Donor</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Volunteer</strong></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Become a volunteer</a>
      </div>
    </div>
  </div>
       <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title"><strong>Redistribution Centre</strong></h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Create a Redistribution Centre</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

</body>
</html>