{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}
    {% if user.is_authenticated %}

{% for s in store %}
  <div class="card mb-3 text-center">
    <div class="card-header">
        <h2>YOUR STORE</h2><br>
        <p>{{ store.id }}</p>
        <p>Logged in As: {{ user }}</p>
        <p>Store owner: {{ store.owner }}</p>
  </div>
  <center><img  src="{{ store.store_img.url }}" height="250px" width="300px" alt="Card image cap"></center>
  <div class="card-body">


    <h3 class="card-title"><strong>{{ store }}</strong></h3>
    <p class="card-text">Located in {{ store.location }}</p>
      <a href="#" class="btn btn-primary">Visit Shop</a>

  </div>
<div class="card-footer text-muted">
    2 days ago
  </div>
</div>
     <a href="#" class="btn btn-primary">Update My Shop</a>
    {% endfor %}
    {% endif %}
{% endblock %}
</body>
</html>