{% extends 'navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

    <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading text-uppercase">Update Store</h1>
{#                    <h4 class="section-subheading text-muted">All the products from all the stores registered in our website </h4>#}
                    <br>
                </div>


            </div>
        </section>
{% if user.is_authenticated %}
    {% if user == store.owner %}
    <h1>{{ store }} </h1>
    <br>
    Logged in as: {{ user }}<br>
    Store Owner : {{ store.owner }}<br>
    <br>

    <div class="wrapper fadeInDown">
    <div id="formContent">
    <form  method="post" enctype=
            "multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"> {{ form.name.label_tag}}</th>
            <th scope="col"> {{ form.name}}</th>
        </tr>

        <tr>
            <th scope="col"> {{ form.location.label_tag}}</th>
            <th scope="col"> {{ form.location}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.owner.label_tag}}</th>
            <th scope="col"> {{ form.owner}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.store_img.label_tag}}</th>
            <th scope="col"> {{ form.store_img}}</th>
        </tr>

        </thead>

    </table>


<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>
        {% elif user.is_superuser %}
        <h1>Update {{ store }}: </h1>
    <br>
    Logged in User: {{ user }}<br>
    Store Owner : {{ store.owner }}<br>
    <br>

    <div class="wrapper fadeInDown">
    <div id="formContent">
    <form  method="post" enctype=
            "multipart/form-data">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"> {{ form.name.label_tag}}</th>
            <th scope="col"> {{ form.name}}</th>
        </tr>

        <tr>
            <th scope="col"> {{ form.location.label_tag}}</th>
            <th scope="col"> {{ form.location}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.owner.label_tag}}</th>
            <th scope="col"> {{ form.owner}}</th>
        </tr>
        <tr>
            <th scope="col"> {{ form.store_img.label_tag}}</th>
            <th scope="col"> {{ form.store_img}}</th>
        </tr>

        </thead>

    </table>


<button class="btn btn-primary" type="submit">Submit</button>
</form>
</div>
</div>

        {% else %}
        <h2>Access Denied</h2>
        <h3>Only the Shop owner can Update Information!</h3>
        Logged in User: {{ user }}<br>
        Store Owner : {{ store.owner }}<br><br>

        {% endif %}



{% else %}
    <h1>Sorry! You must be logged in to access this page!</h1>
    <br>
    <h3><a href="{% url 'login' %}">Click Here to Login</a></h3>
</form>

{% endif %}

    <footer class="footer py-4 bg-light text-dark fixed-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; MealsMatter 2023</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                       <h5 class="text-light"><a class="link-white text-decoration-none me-5" href="#!">Privacy Policy</a></h5>
                        <h5 class="text-light"><a class="link-dark text-decoration-none" href="#!">Terms of Use</a></h5>
                    </div>
                </div>
            </div>
</footer>
{% endblock %}

</body>
</html>